<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Story 3 - M. Irfan Junaidi</title>
    </head>
    <body>
        {% include '_navbar.html' %}
        <div class="index">
            <section id="home">
                <h1>Hi!</h1>
            </section>
            <section id="about">
                <h2 id="a-mobile">About Me</h2>
                <div class="cont-about">
                    <div class="a-left">
                        <div class="pict">
                            <img src="static/src/me.jpg">
                        </div>
                    </div>
                    <div class="a-right">
                        <h2>About Me</h2>
                        <p>My name is Muhammad Irfan Junaidi and I’m currently on the 3rd term of studying Computer Science at Universitas Indonesia. I love to code or game in my spare time.</p>
                    </div>
                </div>
            </section>
            <section id="profile">
                <h2>Profile</h2>
                <div class="edu prof">
                    <h3>Education</h3>
                    <div class="e-cont">
                        <div class="cont"><span>Primary<br>School</span><p>SD Citra Alam Ciganjur<br>2007-2013</p></div>
                        <img class="ar" id="ar1" src="static/src/arrow.png">
                        <div class="cont"><span>Middle<br>School</span><p>SMP Citra<br>Alam Ciganjur<br>2013-2016</p></div>
                        <img class="ar" id="ar2" src="static/src/arrow.png">
                        <div class="cont"><span>High<br>School</span><p>SMA Negeri 38 Jakarta<br>2016-2019</p></div>
                        <img class="ar" id="ar3" src="static/src/arrow.png">
                        <div class="cont"><span>Bachelor of Computer Science</span><p>Universitas Indonesia<br>2019-2023</p></div>
                    </div>
                </div>
                <div class="skill prof">
                    <h3>Skills</h3>
                    <div class="s-cont">
                        <div class="cont"><img src="static/src/python.png" alt="Python"><p>Python</p></div>
                        <div class="cont"><img src="static/src/java.png" alt="Java"><p>Java</p></div>
                        <div class="cont"><img src="static/src/html.png" alt="HTML"><p>HTML</p></div>
                        <div class="cont"><img src="static/src/css.png" alt="CSS"><p>CSS</p></div>
                    </div>
                </div>
                <div class="exp prof">
                    <h3>Experience</h3>
                    <div class="cont"><span>Front-End<br>Web<br>Developer</span><br><p>BETIS Fasilkom UI 2020</p></div>
                    <div class="cont"><span>Teaching Assistant for DDP1</span><br><p>Universitas Indonesia</p></div>
                    <div class="cont"><span>Staff of Supervision Division</span><br><p>DPM Fasilkom<br>UI 2020</p></div>
                    <div class="cont"><span>Mentor and Academic<br>Staff</span><br><p>Dasar-Dasar Pemrograman 0</p></div>
                </div>
            </section>
            <section id="contact">
                <h2>Contact</h2>
                <div class="c-cont">
                    <a href="http://twitter.com/irfancen_/" target="_blank"><img src="static/src/twitter.png" alt="Twitter"></a>
                    <a href="http://instagram.com/irfancen/" target="_blank"><img src="static/src/instagram.png" alt="Instagram"></a>
                    <a href="http://linkedin.com/in/mirfanjunaidi/" target="_blank"><img src="static/src/linkedin.png" alt="LinkedIn"></a>
                    <a href="http://github.com/irfancen/" target="_blank"><img src="static/src/github.png" alt="Github"></a>
                    <a href="http://gitlab.com/irfancen/" target="_blank"><img src="static/src/gitlab.png" alt="Gitlab"></a>
                </div>
            </section>
        </div>
    </body>
</html>