<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>This is a secret Website</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% include '_navbar.html' %}
        <div class="index">
            <div class="cont-video">
                <div id="youtube-player"
                data-video="y8sSIGon3Yc"  
                data-height="480"
                data-width="853">
                </div>
            </div>
        </div>
            
        <script src="https://www.youtube.com/iframe_api"></script>
        <script type="text/javascript">
            function onYouTubeIframeAPIReady() {
                var ctrlq = document.getElementById("youtube-player");
                var done = false;
                var player = new YT.Player('youtube-player', {
                height: '100%',
                width: '100%',
                playerVars: {
                    rel: 0,
                    controls: 0,
                    disablekb: 1,
                },
                events: {
                    'onReady': function(e) {
                    e.target.cueVideoById({
                        videoId: ctrlq.dataset.video,  
                        startSeconds: 103.5,
                        endSeconds: 109.5,
                    });
                    e.target.playVideo();
                    },
                }
                });
            }
        </script>
    </body>
</html>