body {
    margin: 0;
    display: block;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(56, 174, 220);
}

/* For Desktop */
@media only screen and (min-width: 1480px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s;
        z-index: 1;
    }
    .navbar a {
        transition: 0.2s ease;
    }
    .navbar a:hover {
        color: rgb(56, 174, 220);
    }
    #nav-but {
        display: none;
    }
    #cont-nav {
        display: inline-block;
        float: right;
    }
    .navbar ul {
        list-style-type: none;
        height: 100px;
        margin: 0;
        padding: 0 37px 0 30px;
        overflow: hidden;
        background-color: white;
    }
    .navbar #irfancen {
        float: left;
    }
    .navbar li {
        display: inline;
    }
    .navbar li a {
        display: inline-block;
        color: rgb(150, 150, 150);
        text-align: right;
        font-size: larger;
        font-weight: 700;
        padding: 38px 30px;
        text-decoration: none;
    }
    .index {
        margin-top: 100px;
    }
    
    #home {
        width: 100%;
        text-align: center;
        padding: 160px 0;
    }
    #home h1 {
        font-size: 100px;
        color: white;
        font-weight: 700;
    }
    
    #about {
        display: inline-block;
        width: 100%;
        margin-top: 120px;
        padding: 175px 0 100px 0;
        color: white;
        transition: all 1s;
    }
    #a-mobile {
        display: none;
    }
    .a-left {
        float: left;
        padding-left: 215px;
    }
    .a-left img {
        width: 315px;
        padding: 20 0 0 14px;
    }
    .pict {
        width: 315px;
        height: 425px;
        margin: 0 0 50px 30px;
        overflow: hidden;
        border: 12px solid white;
        border-radius: 80px 0 80px 0;
    }
    .a-right {
        width: 625px;
        margin: 0 10vw 0 0;
        float: right;
        word-wrap: break-word;
    }
    .a-right h2 {
        font-size: 80px;
        margin: 0;
    }
    .a-right p {
        font-size: 25px;
    }
    
    #profile {
        display: inline-block;
        width: 100%;
        padding-top: 75px;
        color: white;
        text-align: center;
    }
    #profile h2 {
        font-size: 80px;
        margin-bottom: 0;
    }
    #profile h3 {
        font-size: 35px;
        padding: 30px;
        margin: 0;
    }
    .prof {
        display: inline-block;
        width: 82vw;
        height: 375px;
        margin: 50px auto;
        border-radius: 50px;
        text-align: center;
        color: rgb(56, 174, 220);
        background-color: white;
    }
    .e-cont {
        width: 100%;
    }
    .ar {
        margin: 0;
        width: 32px;
        margin-bottom: 80px;
        position: relative;
        animation: anim 2s linear infinite;
    }
    #ar1 {
        animation-delay: 1s;
    }
    #ar2 {
        animation-delay: 1.5s;
    }
    #ar3 {
        animation-delay: 2s;
    }
    @keyframes anim {
        0% {opacity: 100%;}
        25% {opacity: 50%;}
        50% {opacity: 25%;}
        75% {opacity: 50%;}
        100% {opacity: 100%;}
    }
    
    .cont {
        display: inline-block;
        width: 200px;
        height: 180px;
        margin: 0 50px;
        padding-top: 25px;
        border-radius: 25px;
        background-color: rgb(150, 225, 255);
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        word-wrap: break-word;
        overflow: hidden;
    }
    .cont p {
        width: 80%;
        margin: 10px auto;
        line-height: 25px;
    }
    .cont span {
        color: rgb(0, 148, 205);
        line-height: 25px;
        font-size: 24px;
    }
    .e-cont .cont {
        margin: 0 30px;
    }
    .s-cont .cont {
        font-size: 25px;
    }
    .s-cont img {
        width: 100px;
        margin-top: 15px;
    }
    
    #contact {
        display: inline-block;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 140px;
        color: white;
        text-align: center;
    }
    #contact h2 {
        font-size: 80px;
    }
    .c-cont {
        display: inline-block;
        margin: 40px;
    }
    .c-cont a {
        margin: 0 30px;
    }
    .c-cont a img {
        width: 100px;
        position: relative;
        top: 0;
        transition: top ease 0.3s;
    }
    .c-cont a img:hover {
        top: -30px;
    }
}

/* For Smaller Desktop */
@media only screen and (max-width: 1480px) and (min-width: 769px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s;
        z-index: 1;
    }
    .navbar a {
        transition: 0.2s ease;
    }
    .navbar a:hover {
        color: rgb(56, 174, 220);
    }
    #nav-but {
        display: none;
    }
    #cont-nav {
        display: inline-block;
        float: right;
    }
    .navbar ul {
        list-style-type: none;
        height: 100px;
        margin: 0;
        padding: 0 37px 0 30px;
        overflow: hidden;
        background-color: white;
    }
    .navbar li {
        display: inline;
    }
    .navbar #irfancen {
        float: left;
    }
    .navbar li a {
        display: inline-block;
        color: rgb(150, 150, 150);
        text-align: right;
        font-size: larger;
        font-weight: 700;
        padding: 38px 30px;
        text-decoration: none;
    }
    .index {
        margin-top: 100px;
    }
    
    #home {
        width: 100%;
        text-align: center;
        padding: 160px 0;
    }
    #home h1 {
        font-size: 100px;
        color: white;
        font-weight: 700;
    }
    
    #about {
        display: inline-block;
        width: 100%;
        margin-top: 120px;
        padding: 175px 0 100px 0;
        color: white;
        transition: all 1s;
    }
    #a-mobile {
        display: none;
    }
    .a-left {
        float: left;
        padding-left: 10vw;
    }
    .a-left img {
        width: 25vw;
        padding: 20 0 0 14px;
    }
    .pict {
        width: 25vw;
        height: 30vw;
        margin: 0 0 50px 30px;
        overflow: hidden;
        border: 12px solid white;
        border-radius: 7.5vw 0 7.5vw 0;
    }
    .a-right {
        width: 45vw;
        margin: 0 10vw 0 0;
        float: right;
        word-wrap: break-word;
    }
    .a-right h2 {
        font-size: 6vw;
        margin: 0;
    }
    .a-right p {
        font-size: 2vw;
        word-wrap: break-word;
    }
    
    #profile {
        display: inline-block;
        width: 100%;
        padding-top: 75px;
        color: white;
        text-align: center;
    }
    #profile h2 {
        font-size: 7.5vmax;
        margin-bottom: 0;
    }
    #profile h3 {
        font-size: 35px;
        padding: 30px;
        margin: 0;
    }
    .prof {
        display: flexbox;
        width: 82vw;
        margin: 50px auto;
        border-radius: 50px;
        text-align: center;
        color: rgb(56, 174, 220);
        background-color: white;
    }
    .e-cont {
        width: 100%;
    }
    .ar {
        display: none;
    }
    .cont {
        display: inline-block;
        width: 200px;
        height: 180px;
        margin: 0 2vw;
        margin-bottom: 30px;
        padding-top: 25px;
        border-radius: 25px;
        background-color: rgb(150, 225, 255);
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        word-wrap: break-word;
        overflow: hidden;
    }
    .cont p {
        width: 80%;
        margin: 10px auto;
        line-height: 25px;
    }
    .cont span {
        color: rgb(0, 148, 205);
        line-height: 25px;
        font-size: 24px;
    }
    .e-cont .cont {
        margin: 0 2vw;
        margin-bottom: 30px;
    }
    .s-cont .cont {
        font-size: 25px;
    }
    .s-cont img {
        width: 100px;
        margin-top: 15px;
    }
    
    #contact {
        display: inline-block;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 140px;
        color: white;
        text-align: center;
    }
    #contact h2 {
        font-size: 7.5vmax;
        margin-bottom: 0;
    }
    .c-cont {
        display: inline-block;
        margin: 5vw;
    }
    .c-cont a {
        display: inline-block;
        margin: 25px;
    }
    .c-cont a img {
        width: 10vw;
        top: 0;
        transition: top ease 0.3s;
    }
    .c-cont a img:hover {
        top: -30px;
    }
}

/* For Mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s;
        z-index: 1;
    }
    .navbar a {
        transition: 0.2s ease;
    }
    .navbar a:hover {
        color: rgb(56, 174, 220);
    }
    #nav-but {
        display: flex;
        float: right;
        font-size: 25px;
        padding: 34px 37px 34px 30px;
        cursor: pointer;
    }
    #cont-nav {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: rgb(56, 174, 220);
        top: 100px;
        text-align: center;

    }
    @keyframes open {
        from {left: -100%;} to {left: 0;}
    }
    @keyframes close {
        from {left: 0;} to {left: -100%;}
    }
    .navbar ul {
        height: 100px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }
    .navbar li {
        display: block;
    }
    .navbar #irfancen {
        float: left;
        padding-left:37px;
    }
    .navbar li a {
        display: inline-block;
        color: rgb(150, 150, 150);
        text-align: right;
        font-size: larger;
        font-weight: 700;
        padding: 38px 30px;
        text-decoration: none;
    }
    #cont-nav li {
        border-bottom: 2px solid white;
        width: 50%;
        margin: auto;
    }
    #cont-nav li a{
        color: white;
    }
    .index {
        margin-top: 100px;
    }
    
    #home {
        width: 100%;
        text-align: center;
        padding: 30vw 0 80px 0;
    }
    #home h1 {
        font-size: 100px;
        color: white;
        font-weight: 700;
    }
    
    #about {
        display: inline-block;
        width: 100%;
        margin-top: 50px;
        padding: 175px 0 100px 0;
        color: white;
        transition: all 1s;
        text-align: center;
    }
    #about h2 {
        font-size: 7.5vmax;
    }
    .cont-about {
        display: block;
        margin: auto 0;
    }
    .a-left {
        display: inline-block;
    }
    .a-left img {
        width: 200px;
    }
    .pict {
        display: inline-block;
        width: 200px;
        height: 250px;
        overflow: hidden;
        border: 10px solid white;
        border-radius: 7.5vw 0 7.5vw 0;
    }
    .a-right {
        margin: 50px;
    }
    .a-right h2 {
        display: none;
    }
    .a-right p {
        text-align: left;
        font-size: 22px;
        word-wrap: break-word;
    }
    
    #profile {
        display: inline-block;
        width: 100%;
        padding-top: 75px;
        color: white;
        text-align: center;
    }
    #profile h2 {
        font-size: 7.5vmax;
        margin-bottom: 0;
    }
    #profile h3 {
        font-size: 35px;
        padding: 30px;
        margin: 0;
    }
    .prof {
        display: flexbox;
        width: 82vw;
        margin: 50px auto;
        border-radius: 50px;
        text-align: center;
        color: rgb(56, 174, 220);
        background-color: white;
    }
    .e-cont {
        width: 100%;
    }
    .ar {
        display: none;
    }
    .cont {
        display: inline-block;
        width: 200px;
        height: 180px;
        margin: 0 2vw;
        margin-bottom: 30px;
        padding-top: 25px;
        border-radius: 25px;
        background-color: rgb(150, 225, 255);
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        word-wrap: break-word;
        overflow: hidden;
    }
    .cont p {
        width: 80%;
        margin: 10px auto;
        line-height: 25px;
    }
    .cont span {
        color: rgb(0, 148, 205);
        line-height: 25px;
        font-size: 24px;
    }
    .e-cont .cont {
        margin: 0 2vw;
        margin-bottom: 30px;
    }
    .s-cont .cont {
        font-size: 25px;
    }
    .s-cont img {
        width: 100px;
        margin-top: 15px;
    }
    
    #contact {
        display: inline-block;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 140px;
        color: white;
        text-align: center;
    }
    #contact h2 {
        font-size: 7.5vmax;
    }
    .c-cont {
        display: flex;
        margin: 5vw;
        justify-content: center;
        align-items: center;
    }
    .c-cont a {
        margin: 3vw;
    }
    .c-cont a img {
        width: 10vw;
        top: 0;
        transition: top ease 0.3s;
    }
    .c-cont a img:hover {
        top: -30px;
    }
}

.cont-video {
    display: block;
    width: 50vw;
    height: 30vw;
    margin: 150px auto 0 auto;
    border: 15px solid white;
    border-radius: 7.5vw 0;
    z-index: 1;
    overflow: hidden;
}
